html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Sora', sans-serif;
    height: 100%;
    width: 100%;
    color: #000;
}
html {
    background: #fff;
}
#__next {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Goldman', cursive;
    font-size: 84px;
}
h2 {
    font-family: 'Goldman', cursive;
    font-size: 40px;
    margin: 5px 0;
}

h3 {
    font-family: 'Goldman', cursive;
    font-size: 35px;
}

h6 {
    font-weight: 400;
    font-size: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
